{% extends 'frontend/layout/app.html' %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
<div class="container mt-5 text-center">
    <div class="card shadow p-4">
        <div class="card-body">
            <h2 class="text-success">
                <i class="bi bi-check-circle-fill"></i> Payment Successful!
            </h2>
            <p class="mt-3">Thank you for your payment.</p>
            <p><strong>Amount Paid:</strong> ₹{{ request.GET.amount }}</p>

            <a href="{% url 'fines' %}" class="btn btn-outline-primary mt-4">
                Back to Fines
            </a>
        </div>
    </div>
</div>
{% endblock %}
